body {
    background-color: #ccc;
}

h1 {
    margin: 5% 20% 1% 20%;
    color: rgba(245, 160, 0, 1);
    background-color: rgba(10, 61, 163, 1);
}

h3, p {
    margin: 0;
}

.divClass {
    margin: 1% 20%;
    color: rgba(245, 160, 0, 1);
    background-color: rgba(10, 61, 163, 1);
}

